*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
}
.header__logo {
  background-color: #000000;
  width: 100%;
  margin-left: 5%;
}
.header__nav {
  display: flex;
  color: white;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  font-family: "Avenir next";
  font-size: 0.625rem;
  font-weight: 700;
  margin-left: 10%;
}
@media (min-width: 768px) {
  .header__nav {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir next";
    margin-left: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir next";
  }
}
.header__ul {
  display: flex;
  list-style: none;
  width: 100%;
}
@media (min-width: 768px) {
  .header__ul {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header__ul {
    flex-direction: row;
  }
}
.header-page {
  width: 50%;
  text-align: center;
  padding: 8px;
}
.header-page--styles {
  border-bottom: 4px solid white;
}

.section-title {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Avenir next";
}
@media (min-width: 768px) {
  .section-title {
    font-size: 3.75rem;
    line-height: 68px;
    font-weight: 700;
    font-family: "Avenir next";
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .section-title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-family: "Avenir next";
    height: 600px;
  }
}

.article__main {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .article__main {
    font-size: 35px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .article__main {
    font-size: 35px;
    line-height: 32px;
    font-weight: 600;
  }
}
.article__images {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}
.article__parah {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Avenir next";
  margin-left: 5%;
}
@media (min-width: 768px) {
  .article__parah {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Avenir next";
    margin-left: 5%;
  }
}
@media (min-width: 1280px) {
  .article__parah {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Avenir next";
    margin-left: 5%;
  }
}
.article__header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir next";
  margin-left: 5%;
}

@media (min-width: 768px) {
  .description {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .description {
    display: flex;
    justify-content: space-around;
  }
}
.description__paragraph {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir next";
  margin-left: 5%;
}

.main-gallery {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir next";
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
@media (min-width: 1280px) {
  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
.gallery__photo {
  width: 300px;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 30%;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 30%;
  }
}

.comment {
  margin-top: 10%;
}
.comment__header {
  font-size: 24px;
  font-family: "Avenir next";
}
.comment__avatar {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-top: 5%;
}
.comment__name {
  height: 36px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.comment__details {
  height: 36px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.comment__button {
  background-color: black;
  color: white;
  margin-left: 40%;
  margin-top: 5%;
  border-radius: 4px;
  height: 40px;
}

.display__main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
}

.display__name {
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir next";
  margin-right: 20%;
  flex-direction: row;
}

.display__details {
  font-size: 13px;
  font-weight: 400;
  font-family: "Avenir next";
  flex-direction: column;
}

.label__styles {
  margin-left: 20%;
}

.footer {
  background-color: #000000;
}
.footer__header {
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: white;
  padding-left: 5%;
  margin-bottom: 10%;
  font-family: "Avenir next";
  margin-top: 10%;
  margin-left: 5%;
}
.footer__images {
  display: inline-block;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .details {
    display: flex;
    justify-content: space-evenly;
  }
}

.info__name {
  color: white;
  font-family: "Avenir next";
  font-weight: 400;
  margin-left: 5%;
  margin-top: 5%;
}
.info__parah {
  font-family: "Avenir next";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
}
.info__inparah {
  font-family: "Avenir next";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
  margin-top: 5%;
}

@media (min-width: 768px) {
  .section__line {
    display: flex;
    margin-bottom: 2%;
  }
}

.footer__parah {
  font-family: "Avenir next";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
  margin-top: 3%;
}

.footer__images--logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__images--logo {
    display: inline-block;
    margin-left: 30%;
  }
}

.header-logo--bandsite {
  display: flex;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .header-logo--bandsite {
    display: none;
  }
}

.display__comments {
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=bio.css.map */