@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
}
.header__styles {
  color: white;
  text-decoration: none;
}
.header__image {
  align-items: center;
  display: flex;
  margin-left: 6rem;
  margin-top: 2rem;
}
.header__logo {
  background-color: #323232;
}
.header__nav {
  display: flex;
  color: white;
  flex-direction: column;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    margin-left: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 1280px) {
  .header {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
  }
}
.header__ul {
  display: flex;
  list-style: none;
  color: white;
  flex-direction: row;
}
@media (min-width: 768px) {
  .header__ul {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header__ul {
    flex-direction: row;
  }
}
.header-page {
  width: 50%;
  text-align: center;
  padding: 8px;
}
.header-page--styles {
  border-bottom: 4px solid white;
}

.section-title {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro";
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 3.75rem;
    line-height: 68px;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .section-title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    height: 600px;
  }
}

.article {
  padding-top: 24px;
  padding-bottom: 16px;
}
.article__main {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  padding-left: 1.5rem;
  font-family: "Avenir Next LT Pro";
}
@media (min-width: 768px) {
  .article__main {
    font-size: 35px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .article__main {
    font-size: 35px;
    line-height: 32px;
    font-weight: 600;
  }
}
.article__images {
  width: 100%;
  padding: 16px;
}
.article__parah {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .article__parah {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    margin-left: 5%;
  }
}
@media (min-width: 1280px) {
  .article__parah {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    margin-left: 5%;
  }
}
.article__header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
  padding-left: 16px;
  margin-top: 1rem;
  padding-right: 16px;
}

.description {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .description {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .description {
    display: flex;
    justify-content: space-around;
  }
}
.description__paragraph {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir Next LT Pro";
  padding-left: 16px;
  margin-top: 0.5rem;
  padding-right: 16px;
}

.main-gallery {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next LT Pro";
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 1rem;
}

.gallery {
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
@media (min-width: 1280px) {
  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
.gallery__photo {
  width: 300px;
  margin-bottom: 1rem;
  padding-right: 16px;
  filter: grayscale(100%);
}
.gallery__photo:hover {
  filter: none;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 30%;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 30%;
  }
}

.image {
  display: flex;
  justify-content: space-between;
}

.comment__header {
  font-size: 24px;
  font-family: "Avenir Next LT Pro";
  padding-left: 16px;
}
.comment__avatar {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-left: 1rem;
}
.comment__form {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.comment__name {
  height: 36px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.comment__details {
  height: 6rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.comment__button {
  background-color: black;
  color: white;
  margin-left: 3rem;
  margin-top: 1.5rem;
  border-radius: 4px;
  height: 3rem;
}
.comment__labels {
  display: flex;
  align-items: center;
}

.display__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #e1e1e1;
  flex-direction: column;
  width: 100%;
}
.display__commentwrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.display__wrapper {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
}
.display__name {
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
  padding-left: 1rem;
  margin-top: 1rem;
}
.display__details {
  font-size: 15px;
  font-weight: 400;
  font-family: "Avenir Next LT Pro";
  flex-direction: column;
  margin-bottom: 1rem;
}
.display__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e1e1e1;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.display__dates {
  padding-left: 4rem;
  margin-top: 1rem;
}

.label__styles {
  padding-left: 3rem;
}

.footer {
  background-color: #323232;
  padding-left: 16px;
  padding-right: 16px;
}
.footer__header {
  font-size: 30px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  font-family: "Avenir Next LT Pro";
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer__logo {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .details {
    display: flex;
    justify-content: space-evenly;
  }
}

.info__name {
  color: white;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  margin-top: 1rem;
  font-size: 14px;
}
.info__parah {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.info__inparah {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  color: white;
  padding-top: 1rem;
}

.section__line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .section__line {
    display: flex;
    margin-bottom: 2%;
  }
}

.footer__parah {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin-top: 1rem;
}

.footer__images--logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__images--logo {
    display: inline-block;
    margin-left: 30%;
  }
}
.header-logo--bandsite {
  display: flex;
  margin-top: 4rem;
  color: white;
}
@media (min-width: 768px) {
  .header-logo--bandsite {
    display: none;
  }
}

.display__comments {
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=bio.css.map */