@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  /*&__logo {
    background-color: $footer-background;
    width: 100%;
    margin-left: 5%;
  }*/
}
.header__nav {
  display: flex;
  color: white;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  font-family: "Avenir Next LT Pro";
  font-size: 0.625rem;
  font-weight: 700;
  margin-left: 10%;
}
@media (min-width: 768px) {
  .header__nav {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
    margin-left: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Avenir Next LT Pro";
  }
}
.header__ul {
  display: flex;
  list-style: none;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header {
    flex-direction: row;
  }
}
.header-page {
  width: 50%;
  text-align: center;
  padding: 8px;
}
.header-page--styles {
  border-bottom: 4px solid white;
}

.section-title {
  background-image: url(../assets/images/Photo-gallery-3.jpg);
  background-size: cover;
  height: 50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro";
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-title {
    display: flex;
    align-items: left;
  }
}
@media (min-width: 1280px) {
  .section-title {
    display: flex;
  }
}

@media (min-width: 768px) {
  .heading__title {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  .heading__title {
    font-size: 40px;
    margin-top: 5%;
  }
}

@media (min-width: 768px) {
  .title__band {
    margin-top: 5%;
    margin-right: 50%;
  }
}
@media (min-width: 1280px) {
  .title__band {
    margin-top: 5%;
    margin-right: 50%;
  }
}

.iframe__sound {
  width: 90%;
  height: 30%;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .iframe__sound {
    width: 90%;
    height: 40%;
    margin-top: 5%;
  }
}
@media (min-width: 1280px) {
  .iframe__sound {
    width: 40%;
    height: 30%;
    margin-left: 50%;
  }
}

.article {
  font-size: 24px;
  font-weight: 700px;
  font-family: "Avenir Next LT Pro";
  margin-top: 5%;
  margin-bottom: 5%;
}

.shows {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.shows__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .shows__main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .shows__main--labels {
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .shows__main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .shows__main--labels {
    border-bottom: none;
  }
}
.shows__date {
  font-size: 14px;
  color: #afafaf;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
  margin-top: 5%;
}
@media (min-width: 768px) {
  .shows__date {
    display: none;
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__date {
    display: none;
    width: 25%;
  }
}
.shows__venue {
  font-size: 14px;
  color: #afafaf;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
}
@media (min-width: 768px) {
  .shows__venue {
    display: none;
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__venue {
    display: none;
    width: 25%;
  }
}
.shows__location {
  font-size: 14px;
  color: #afafaf;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
}
@media (min-width: 768px) {
  .shows__location {
    display: none;
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__location {
    display: none;
    width: 25%;
  }
}
.shows__info {
  font-size: 10px;
  color: black;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 18px;
  width: 25%;
}
.shows__button {
  background-color: #323232;
  display: flex;
  justify-content: center;
  width: 25%;
  color: white;
}

.tablet__page {
  font-size: 14px;
  color: #afafaf;
  font-weight: 600;
  font-family: "Avenir Next LT Pro";
  margin-top: 5%;
  display: none;
}
@media (min-width: 768px) {
  .tablet__page {
    width: 25%;
    display: block;
    padding-right: 10%;
    text-align: left;
  }
  .tablet__page:last-child {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .tablet__page {
    width: 25%;
    display: block;
    padding-right: 10%;
    text-align: left;
    padding-left: 24px;
  }
  .tablet__page:last-child {
    width: 50vw;
  }
}

.footer {
  background-color: #323232;
}
.footer__header {
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: white;
  padding-left: 5%;
  margin-bottom: 10%;
  font-family: "Avenir Next LT Pro";
  margin-top: 10%;
  margin-left: 5%;
}
.footer__images {
  display: inline-block;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .details {
    display: flex;
    justify-content: space-evenly;
  }
}

.info__name {
  color: white;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  margin-left: 5%;
  margin-top: 5%;
}
.info__parah {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
}
.info__inparah {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
  margin-top: 5%;
}

@media (min-width: 768px) {
  .section__line {
    display: flex;
    margin-bottom: 2%;
  }
}

.footer__parah {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-size: 13px;
  margin-left: 5%;
  color: white;
  margin-top: 3%;
}

.footer__images--logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__images--logo {
    display: inline-block;
    margin-left: 30%;
  }
}

.header-logo--bandsite {
  display: flex;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .header-logo--bandsite {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */